.tab-group {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.tab-group__item {
  align-self: center;
  padding-right: 3rem;
  font-family: 'Nunito';
  color: #698afe;
  cursor: pointer;
  font-size: 0.875rem;
}

.tab-group__item--selected {
  font-size: 1.125rem;
}
