.shelf {
  padding: 1rem;
  box-shadow: 0 8px 10px 0 rgba(70, 100, 161, 0.05);
  border: 0;
  background: #fff;
  margin: 1rem;
}

.shelf__title {
  text-align: center;
}

.shelf__books {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
