.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: fixed;
  left: 0;
  width: 15rem;
  padding-left: 3rem;
  background: #fff;
}

.side-bar__item {
  font-family: 'Nunito';
  color: #698afe;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
}

.side-bar__item--selected {
  padding: 1rem;
}