.book {
  display: flex;
  background: #fff;
  min-width: inherit;
  max-width: inherit;
  min-height: 250px;
  max-height: 250px;
  padding-bottom: 1rem;
}

.book-information {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.book-information__title {
  margin-bottom: 0.5rem;
}

.book-information__authors {
  font-family: "Nunito";
  opacity: 0.5;
}

.book-information__button-group {
  align-self: center;
  margin-top: 6rem;
}
